h1
{   
    letter-spacing: 5px;
    font-size:xx-large;
    text-align: center;
    font-style: "Times New Roman", Times, serif;
    color: rgb(240, 145, 20);
}
body
{   
    background-image: url("/images/littlev.jpg");
    background-size: cover;
}
    body
    {
    text-align: center;
    }
   h2
   {
    background-color:orange;
    padding: 10x 10px;
    text-align:center;
    border-radius: 10px 10px 10px 10px;
    }
    
    div.container{
    display: inline-block;
    font-family:'Times New Roman', Times, serif;
    }

    div.main
    {
    text-align: left;
    width: 300px;
    padding: 10px 50px 25px;
    border: 2px solid rgb(231, 202, 150);
    border-radius: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top:50px;
    }

    input[type=text],input[type=password]
    {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #5b2828;
    font-size: 16px;
    border-radius: 5px;
    }

    label
    {
    color: rgb(210, 89, 23);
    text-align: left;
    }
    
    .note
    {
    color:red;
    }

    .valid
    {
    color:yellow;
    }

    input[type=button]
    {
    font-size: 16px;
    background: orange;
    border: 1px solid #ebc661;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    
    }

    input[type=button]:hover
    {
    background: linear-gradient(rgb(241, 202, 127) 5%, orange 100%);
    }
    