body{
    background-color: rgb(190, 143, 234);
    
    
}
h1
{
    margin-bottom: 100px;
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(125, 86, 13);
}
